#volume_toggle_button {
    display: flex;
    position: fixed !important;
    top: 1rem;
    right: 4rem;
    text-align: center;
    aspect-ratio: 1/1;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
    z-index: 11;
    justify-content: center;
    width: 2rem;
}